@media (max-width: 1920px){
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
}
@media (max-width: 1600px){
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
}
@media (max-width: 1440px){
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}
@media (max-width: 768px){
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}
.paciente-name{
    font-size: 24px;
}
.btn-paciente{
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  text-align: left;
  width: 100%;
}
.btn-paciente:focus{
  outline: 0;
}
.modal-pequeno{
  top: 30%;
  width: 600px;
  height: auto;
  margin: auto;
  text-align: center;

}
.modal-pequeno > .modal-dialog > .modal-content{
  padding: 50px 0px;
}
h1.h1-concluido{
  font-size: 26px;
}
strong{
  font-weight: 700;
}